<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <nav>
        {{template "navigation.gohtml" 2}}
    </nav>
    <div class="separator"></div>
    <main>
        <h1>About project</h1>
        <p>
            Hi, my name is Bogdan, just i tell you about the project.
            It's project for store audio, especially podcast.
            In future we'll support other media type. The web version is only for upload
            file. Main application will be in iphone, he'll support background play (screen off)
            a podcast during you prepare to sleep, do housework, sit in a bus or something another.
            Main goal of the application is download audio to external storage from remote server
            and play media files in offline mode. After achieve a main goal, we'll add a new additional features
            like a chat in real time, mini games, expand existing functional. You'll see a development process bellow in table view.
            You can contact me in facebook. Click to the <a href="https://www.facebook.com/profile.php?id=100008896662501">link</a>,
            especially if you are a android developer.  We'll create a nice application for both major platforms. Good luck.
        </p>
        <div class="separator"></div>
        <p>You can don't see all changes, because it's not deployed in production.</p>
        <div class="separator"></div>
        <h1>Web development process</h1>
        <div class="separator"></div>
        {{if not .CommitInfos }}
            <p>Not started yet.</p>
        {{ else }}
            <ul class ="listGroup" >
                {{range .CommitInfos}}
                    <li>{{.PrettyDate}} | {{.Author}}:
                        <div class="separator"></div>
                        <ul>
                            {{range .Messages}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </li>
                {{end}}
            </ul>
        {{ end }}
        <div class="separator"></div>
        <h1>iOS development process</h1>
        <div class="separator"></div>
        <p>Not started yet.</p>
    </main>
    <div class="separator"></div>
    {{template "footer.gohtml"}}
</body>
</html>