<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{.Title}}</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        {{template "navigation.gohtml" 1}}
        <div class="separator"></div>
        <div>
            {{if not .Posts}}
                <p>Data of source is empty.</p>
            {{else}}
                <table class="list">
                    <tr>
                        <th>#</th>
                        <th>Country</th>
                        <th>Sender</th>
                        <th>About file</th>
                        <th>Date published</th>
                        <th>Play</th>
                    </tr>
                    {{range $index, $post := .Posts}}
                    <tr>
                        <td>{{add $index 1}}</td>
                        <td><img height="10px" width="15px" src="{{$post.Publisher.IpInfo.CountryFlag}}" alt="flag of the country"></td>
                        <td>{{$post.Publisher.Nickname}}</td>
                        <td>{{$post.Description}}</td>
                        <td>{{$post.PrettyDate}}
                        <td>
                            <audio controls>
                                <source src={{$post.RemoteURL}} type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                        </td>

                    </tr>
                    {{end}}
                </table>
            {{end}}

        </div>
        <div class="separator"></div>
        {{template "footer.gohtml"}}
    </body>
</html>