<nav>
    <ul>
        <li><a {{if eq . 0}}class="active"{{end}} href="/home">Home</a></li>
        <li><a {{if eq . 1}}class="active"{{end}} href="/sources">List of sources</a></li>
        <li><a {{if eq . 2}}class="active"{{end}} href="/development">Development</a></li>
    </ul>
</nav>